@font-face {
    font-family: 'Score-Board';
    src:url('Score-Board.ttf.woff') format('woff'),
        url('Score-Board.ttf.svg#Score-Board') format('svg'),
        url('Score-Board.ttf.eot'),
        url('Score-Board.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html {
  background: url(dartboard.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page-wrap {
  text-align: left;
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  padding: 12px;
}

body {
  text-align: center;
  font-family: 'Score-Board';
}

h1 {
  margin: 0px;
}

.left {
  width: 30%;
  float: left;
  margin-top: 1em;
}

.right {
  width: 60%;
  font-size: x-large;
  background: whitesmoke;
  float: right;
  min-height: 200px;
  padding: .5em;
  margin: .5em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border: .2em solid;
}

li {
  list-style-type: none;
}

.button {
  font-family: 'Score-Board';
  color: whitesmoke;
  font-size: 15px;
  padding: 10px;
  background-color: #e71a79;
  background-image: linear-gradient(top, #ddd, #fff);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
}

button#x-out {
  font-family: 'Score-Board';
  color: #e71a79;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 3px;
  margin-bottom: 1em;
}

#new-alert button#x-out {
  font-family: 'Score-Board';
  color: #e71a79;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 3px;
  margin-bottom: 1em;
}

.button:hover{
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

.button:active{
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

input[type="text"] {
  color: #e71a79;
  font-size: 15px;
  padding: 10px;
  width: 185px;
  font-family: 'Score-Board';
  margin-bottom: 10px;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

#new-alert {
  color: #e71a79;
  background-color: black;
  padding-top: 10px;
  margin-bottom: 0px;
  max-width: 100%;
}
