@font-face {
    font-family: 'Score-Board';
    src:url('Score-Board.ttf.woff') format('woff'),
        url('Score-Board.ttf.svg#Score-Board') format('svg'),
        url('Score-Board.ttf.eot'),
        url('Score-Board.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html {
  background: url(dartboard.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  font-family: 'Score-Board';
}

h1 {
  margin: 0px;
}

li {
  list-style-type: none;
}

.left {
  width: 30%;
  float: left;
  margin-top: 1em;
}

#page-wrap {
  text-align: left;
  max-width: 90%;
  margin: 0 auto;
  padding: 12px;
}

.right {
  width: 60%;
  font-size: x-large;
  background: whitesmoke;
  float: right;
  min-height: 200px;
  padding: .5em;
  margin: .5em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border: .2em solid;
}

.button {
  font-family: 'Score-Board';
  color: whitesmoke;
  font-size: 15px;
  padding: 10px;
  background-color: #e71a79;
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
}

.button:hover{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.button:active{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

button#x-out {
  font-family: 'Score-Board';
  color: #e71a79;
  padding: 14px;
  background-color: white;
  border: none;
  vertical-align: top
}

input[type="text"] {
  color: #e71a79;
  font-size: 15px;
  padding: 10px;
  width: 80%;
  font-family: 'Score-Board';
  margin-bottom: 10px;
}

#new-alert button#x-out {
  font-family: 'Score-Board';
  color: #e71a79;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 3px;
  vertical-align: bottom;
}

#new-alert {
  color: #e71a79;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  max-width: 100%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
